---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="hero py-1">
      <div class="col-span-2">
        <h1 class="logo">
          Studio <br class="lg:hidden" /> Arts+<br class="lg:hidden" />Crafts<br
            class="lg:hidden"
          />©
        </h1>
        <p>Designing your past, present, and future</p>
      </div>
      <div class="grid grid-cols-2 h-fit w-full leading-none">
        <h2 class="col-span-2 mb-[1em] mt-24 lg:mt-2">Contact</h2>
        <h3>INSTAGRAM</h3>
        <p>
          <a
            href="https://www.instagram.com/studio.artsandcrafts/"
            target="_blank"
            class="link"
          >
            studio.artsandcrafts
          </a>
        </p>
        <h3>EMAIL</h3>
        <p>
          <a href="mailto:hello@artsandcrafts.work" class="link">
            hello@artsandcrafts.work
          </a>
        </p>
      </div>
    </section>
  </main>
</Layout>

<style lang="postcss">
	section {
		@apply px-3 md:px-4;
	}
	.hero {
		@apply mb-[60svh]  lg:grid lg:grid-cols-3 gap-2;
	}
	.logo {
		@apply text-[20vmin] md:text-[14vmin];
		@apply leading-[0.86] ;
	}
	:global(.link) {
        @apply underline hover:text-bg hover:bg-fg w-fit;
    }
</style>
